Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
Jinja2
python-dateutil
python-dotenv
python-editor
pytz
requests
SQLAlchemy
urllib3
visitor
Werkzeug
WTForms
# requirements for Heroku
psycopg2
gunicorn
