{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $("#basicDate").flatpickr({
            enableTime: false,
            inline: true,
            disable: [
        {
            from: "2025-04-01",
            to: "2025-05-01"
        },
        {
            from: "2025-09-01",
            to: "2025-12-01"
        }
    ]
        });
    </script>
{% endblock %}

{% block content %}


  <div class="container">
    <form action="{{ url_for('addDate') }}" method="post">
      <input type="datetime" id="basicDate" name="basicDate" placeholder="Click to Select Date and Time..." data-input>
      <input type="submit" value="Submit">
    </form>
  </div>


{% endblock %}